@import "tailwindcss";

@source "./src/**/*.{rs,html,css}";
@source "index.html";

@theme {
    --color-lyrics-magenta: #ff55cc;
    --color-lyrics-yellow: #ffcc55;

    --color-discord: #5865f2;
    --color-bluesky: #1185fe;
    --color-youtube: #ff0000;
    --color-reddit: #ff5700;
    --color-telegram: #229ed9;

    --animate-blink: blink 1s ease-in-out infinite;

    --spacing-safe-b: max(1rem, env(safe-area-inset-bottom));
    --spacing-safe-t: max(1rem, env(safe-area-inset-top));

    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
}

.cursor {
    @apply inline-block w-1 ml-1 bg-linear-to-b from-lyrics-magenta to-lyrics-yellow animate-blink;
}
